.navbar
    display: flex
    justify-content: space-between
    padding: 1rem 4rem
    border-bottom: 1px solid #E9C46A
    @media screen and ( max-width: 770px )
        padding: 1rem 1rem
    &__logo
        display: flex
        align-items: center
        line-height: 1.1
        font-size: 1.5rem
        font-weight: 800
        color: #264653
        & span
            width: 150px
    &__user
        @media screen and ( max-width: 700px )
            display: none
        display: flex
        justify-content: center
        align-items: center
    &__links
        @media screen and ( max-width: 700px )
            display: none
        margin-right: auto
        & ul
            display: flex
            gap: 2rem
            & li
                list-style-type: none
                & a
                   text-decoration: none
                   color: #264653
                   font-size: 1.2rem
                   transition-duration: 0.3s
                   border-bottom: 2px solid transparent
                   &:hover
                    border-color: #E9C46A
    &__lang
        display: flex
        align-items: center
        margin-left: auto
        margin-right: 20px
.login-button
    background-color: #E9C46A
    color: #264653
    text-decoration: none

.active
    border-color: #E9C46A !important
    font-weight: 500

.btn-menu
    margin-right: 10px
    @media screen and ( min-width: 700px )
        display: none