<div class="catalog">
  <div class="catalog__filtering">
    <div class="catalog__filtering__row">
      <h1 class="title">{{ "catalog.title" | translate }}</h1>
      <mat-form-field appearance="outline" class="sort-field">
        <mat-label>{{ "catalog.sortLabel" | translate }}</mat-label>
        <mat-select
          [(value)]="filterObj.sort"
          (selectionChange)="recipeResponse$ = updateRecipes(1)"
        >
          <mat-option *ngFor="let opt of sortOptions" value="{{ opt.value }}">{{
            opt.label
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="catalog__filtering__row">
      <mat-form-field appearance="outline" class="long-field">
        <mat-label>{{ "catalog.searchLabel" | translate }}</mat-label>
        <input matInput />
        <button matSuffix mat-icon-button aria-label="Search">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="long-field">
        <mat-label>{{ "catalog.categoriesLabel" | translate }}</mat-label>
        <mat-select
          [(value)]="filterObj.categories"
          (selectionChange)="recipeResponse$ = updateRecipes(1)"
          multiple
        >
          <mat-option
            *ngFor="let category of categories$ | async; let i = index"
            value="{{ category._id }}"
            >{{ category.name | titlecase }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="catalog__filtering__slider">
      <p class="catalog__filtering__slider__text">
        {{ "catalog.timeLabel" | translate }}
        <span class="text-regular"
          >&lt; {{ filterObj.time }} {{ "catalog.minutes" | translate }}</span
        >
      </p>
      <mat-slider
        class="slider"
        max="200"
        min="0"
        thumbLabel="true"
        [(ngModel)]="filterObj.time"
        value="60"
        (change)="recipeResponse$ = updateRecipes(1)"
      ></mat-slider>
    </div>
  </div>
  <div *ngIf="(recipeResponse$ | async) || !isLoading; else elseBlock">
    <div class="catalog__items">
      <app-recipe-card
        *ngFor="let recipe of (recipeResponse$ | async)?.recipes; let i = index"
        [recipe]="recipe"
      ></app-recipe-card>
    </div>
    <app-paginator
      *ngIf="(recipeResponse$ | async)?.count"
      [perPageCount]="20"
      [currentPage]="page"
      [itemCount]="(recipeResponse$ | async)?.count"
      (updateRecipes)="recipeResponse$ = updateRecipes($event)"
    ></app-paginator>
  </div>
  <ng-template #elseBlock>
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
