.sidenav
    position: fixed
    &__logo
        height: 85.8px
        display: flex
        align-items: center
        line-height: 1.1
        font-size: 1.5rem
        font-weight: 800
        color: #264653
        & span
            width: 150px
    &__list
        & a
            color: #264653
            font-size: 1.2rem
    &__container
        display: flex
        flex-direction: column
        height: calc(100vh - 85.8px - 1rem)
        justify-content: space-between
        & a
            color: #264653
            font-size: 1.2rem
    &__user
        display: flex
        justify-content: space-between
        align-items: center
        padding: 0px 16px
        color: #264653
        font-size: 1.2rem

.btn-menu
    margin-right: 10px
    margin-left: 16px

.active
    font-weight: 500