<app-header
  (toggleSidenav)="sidenav.toggle()"
  (changeLanguage)="useLanguage($event)"
></app-header>
<mat-drawer-container>
  <mat-drawer #sidenav mode="over" class="sidenav">
    <div class="sidenav__logo">
      <button mat-icon-button class="btn-menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>The Recipe Book</span>
    </div>
    <div class="sidenav__container">
      <mat-nav-list class="sidenav__list">
        <a
          mat-list-item
          routerLink="/recipes"
          [routerLinkActive]="['active']"
          (click)="sidenav.toggle()"
          >{{ "navbar.recipes" | translate }}</a
        >
        <a
          *ngIf="currentUser"
          mat-list-item
          routerLink="/create"
          [routerLinkActive]="['active']"
          (click)="sidenav.toggle()"
          >{{ "navbar.create" | translate }}</a
        >
      </mat-nav-list>
      <mat-nav-list>
        <a
          mat-list-item
          routerLink="/login"
          (click)="sidenav.toggle()"
          *ngIf="!currentUser"
          >{{ "navbar.signinBtn" | translate }}</a
        >
        <div *ngIf="currentUser" class="sidenav__user">
          <span>{{ currentUser.username }}</span>
          <button mat-icon-button (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
      </mat-nav-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
