<div class="comment">
  <div class="comment__picture">
    <img
      src="../../../assets/profile.png"
      alt="Comment's author's profile picture"
    />
  </div>
  <div class="comment__info">
    <p class="comment__info__name">Jane1970</p>
    <p class="comment__info__age">2 months ago</p>
    <p class="comment__info__content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit
      maiores iste dolorem maxime impedit ipsum minima temporibus, labore
      tempore aspernatur sequi dicta consequatur? Laborum autem similique sunt
      assumenda tenetur deserunt!
    </p>
  </div>
</div>
