<div class="recipe" *ngIf="!isLoading; else elseBlock">
  <p>Meals >> Chicken >></p>
  <div class="recipe__title">
    <h1>{{ recipe?.title }}</h1>
    <div *ngIf="isOwner">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Recipe options menu button"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <a routerLink="/recipes/{{ recipe?._id }}/edit" mat-menu-item>
          <mat-icon class="menu-icon">edit</mat-icon>
          <span class="menu-link">Edit</span>
        </a>
      </mat-menu>
    </div>
  </div>

  <div class="recipe__tags">
    <app-category-tag
      *ngFor="let category of recipe?.categories; let i = index"
      [name]="category.name"
    ></app-category-tag>
  </div>
  <div class="recipe__likes-time">
    <div class="recipe__likes-time__likes">
      <button mat-icon-button aria-label="Like button">
        <mat-icon>favorite</mat-icon>
      </button>
      <span>{{ recipe?.likeCounter }} likes</span>
    </div>
    <div class="recipe__likes-time__time">
      <mat-icon>timer</mat-icon>
      <span>{{ recipe?.timeMinutes }} minutes</span>
    </div>
  </div>
  <section class="recipe__ingridients">
    <h2>INGRIDIENTS:</h2>
    <ul>
      <li *ngFor="let ing of recipe?.ingredients; let i = index">{{ ing }}</li>
    </ul>
  </section>
  <img
    src="/images/recipes/{{ recipe?.imageUrls?.[0] }}"
    alt="Picture of finished recipe"
  />
  <section class="recipe__instructions">
    <h2>INSTRUCTIONS:</h2>
    <ol>
      <li
        (click)="toggleClass($event, 'completed')"
        *ngFor="let ins of recipe?.instructions; let i = index"
      >
        {{ ins }}
      </li>
    </ol>
  </section>
  <section class="recipe__comments">
    <h2>COMMENTS</h2>
    <div *ngIf="currentUser; else elseBlock" class="recipe__comments__form">
      <img
        src="{{ currentUser?.profilePictureUrl }}"
        alt="Your profile picture"
      />
      <form
        [formGroup]="commentForm"
        #formDirective="ngForm"
        (ngSubmit)="onSubmit(formDirective)"
      >
        <mat-form-field
          appearance="outline"
          class="recipe__comments__form__input"
        >
          <mat-label>Leave a comment</mat-label>
          <textarea
            matInput
            placeholder="Ex. It makes me feel..."
            formControlName="commentContent"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
        <button
          mat-flat-button
          color="primary"
          [disabled]="commentForm.invalid"
        >
          Submit
        </button>
      </form>
    </div>
    <ng-template #elseBlock>
      <div class="recipe__comments__signin-message">
        <p>
          You must
          <a routerLink="/login" routerLinkActive="active">Sign in</a> in order
          to comment!
        </p>
      </div>
    </ng-template>
    <app-comment-card
      *ngFor="let comment of comments; let i = index"
      [comment]="comment"
    ></app-comment-card>
  </section>
</div>
<ng-template #elseBlock>
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
