<div class="recipe" *ngIf="recipe$ | async as recipe; else elseBlock">
  <div class="recipe__title">
    <h1>{{ recipe.title }}</h1>
    <div *ngIf="recipe.userId === currentUser?._id">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Recipe options menu button"
      >
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <a routerLink="/recipes/{{ recipe._id }}/edit" mat-menu-item>
          <mat-icon class="menu-icon">edit</mat-icon>
          <span class="menu-link">{{ "recipe.options.edit" | translate }}</span>
        </a>
        <button mat-menu-item (click)="openDeleteDialog()">
          <mat-icon class="menu-icon">delete</mat-icon>
          <span class="menu-link">{{
            "recipe.options.delete" | translate
          }}</span>
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="recipe__tags">
    <app-category-tag
      *ngFor="let category of recipe.categories; let i = index"
      [name]="category.name"
    ></app-category-tag>
  </div>
  <div class="recipe__likes-time">
    <div class="recipe__likes-time__likes">
      <button
        mat-icon-button
        aria-label="Like button"
        [disabled]="!currentUser"
        (click)="likeRecipe()"
      >
        <mat-icon>{{
          recipe.likeCounter.includes(currentUser?._id || "")
            ? "favorite"
            : "favorite_outline"
        }}</mat-icon>
      </button>
      <span
        >{{ recipe.likeCounter.length }}
        {{ "recipe.likesLabel" | translate }}</span
      >
    </div>
    <div class="recipe__likes-time__time">
      <mat-icon>timer</mat-icon>
      <span
        >{{ recipe.timeMinutes }} {{ "recipe.minutesLabel" | translate }}</span
      >
    </div>
  </div>
  <section class="recipe__ingridients">
    <h2>{{ "recipe.ingredientsTitle" | translate }}</h2>
    <ul>
      <li *ngFor="let ing of recipe.ingredients; let i = index">
        {{ ing }}
      </li>
    </ul>
  </section>
  <img
    src="/images/recipes/{{ recipe.imageUrls[0] }}"
    alt="Picture of finished recipe"
  />
  <section class="recipe__instructions">
    <h2>{{ "recipe.instructionsTitle" | translate }}</h2>
    <ol>
      <li
        (click)="toggleClass($event, 'completed')"
        *ngFor="let ins of recipe.instructions; let i = index"
      >
        {{ ins }}
      </li>
    </ol>
  </section>
  <section class="recipe__comments">
    <h2>{{ "recipe.commentsTitle" | translate }}</h2>
    <div *ngIf="currentUser; else elseBlock" class="recipe__comments__form">
      <img
        src="/images/users/{{ currentUser.profilePictureUrl }}"
        alt="Your profile picture"
      />
      <form
        [formGroup]="commentForm"
        #formDirective="ngForm"
        (ngSubmit)="onSubmit(formDirective)"
      >
        <mat-form-field
          appearance="outline"
          class="recipe__comments__form__input"
        >
          <mat-label>{{ "recipe.commentLabel" | translate }}</mat-label>
          <textarea
            matInput
            formControlName="commentContent"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
        <button
          id="commentBtn"
          mat-flat-button
          color="primary"
          [disabled]="commentForm.invalid"
        >
          {{ "recipe.submitBtn" | translate }}
        </button>
      </form>
    </div>
    <ng-template #elseBlock>
      <div class="recipe__comments__signin-message">
        <p>
          {{ "recipe.notSignedin.1" | translate }}
          <a routerLink="/login" routerLinkActive="active">{{
            "recipe.notSignedin.2" | translate
          }}</a>
          {{ "recipe.notSignedin.3" | translate }}
        </p>
      </div>
    </ng-template>
    <app-comment-card
      *ngFor="let comment of comments$ | async; let i = index"
      [comment]="comment"
    ></app-comment-card>
  </section>
</div>

<ng-template #elseBlock>
  <div class="spinner" id="spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
