<h1 mat-dialog-title class="title">{{ "register.title" | translate }}</h1>
<mat-dialog-content>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>{{ "register.emailLabel" | translate }}</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "register.usernameLabel" | translate }}</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "register.passwordLabel" | translate }}</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ "register.passwordConfirmLabel" | translate }}</mat-label>
      <input matInput type="password" formControlName="repeatPassword" />
    </mat-form-field>
    <mat-checkbox formControlName="agreeToTerms">
      {{ "register.agreement" | translate }}
    </mat-checkbox>
    <app-error-box
      *ngIf="errorMessage"
      [errorMessage]="errorMessage"
      (discardErr)="errorMessage = ''"
    ></app-error-box>
    <div class="buttons">
      <button mat-flat-button mat-dialog-close type="button" color="warn">
        {{ "register.cancelBtn" | translate }}
      </button>
      <button mat-flat-button color="primary" [disabled]="!registerForm.valid">
        {{ "register.submitBtn" | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>
