.form
    display: flex
    flex-direction: column

.login
    width: 430px
    @media screen and ( max-width: 460px )
        width: 100%
        margin: 15px

.header
    font-size: 3rem
    font-weight: 800
    color: #264653

.links
    display: flex
    justify-content: space-between
    @media screen and ( max-width: 400px )
        font-size: 12px

.btn-login
    float: right
    width: 6rem
    &:disabled
        background-color: #00968866
        color: #FFFFFF

.container
    display: flex
    justify-content: center
    align-items: center
    height: calc( 100vh  - 85.8px )  // Compensation for header size

.signup-link
    text-decoration: underline
    cursor: pointer
    &:hover
        color: #E9C46A
        