<div class="container">
  <div class="login">
    <h1 class="header">Sign in</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ex. pat@example.com"
          formControlName="email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          [type]="hide ? 'password' : 'text'"
          matInput
          formControlName="password"
        />
        <button
          type="button"
          matSuffix
          mat-icon-button
          aria-label="Hide password"
          aria-pressed="hide"
          (click)="hide = !hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <div class="links">
        <p>Don't have an account yet? <a href="#">Sign up here</a></p>
        <a href="#">Forgot password?</a>
      </div>
      <div class="btn-wrapper">
        <button mat-raised-button color="primary" class="btn-login">
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
