<a [routerLink]="['/recipes', recipe?._id]">
  <div class="card">
    <img
      class="card__thumbnail"
      src="{{ recipe?.imageUrl }}"
      alt="Recipe picture"
    />
    <div class="card__info">
      <span class="card__info__title">{{ recipe?.title }}</span>
      <div class="card__info__tags">
        <app-category-tag
          *ngFor="let category of recipe?.categories; let i = index"
          [name]="category.name"
        ></app-category-tag>
      </div>
      <div class="card__info__time">
        <mat-icon>schedule</mat-icon>
        <span>{{ recipe?.timeMinutes }} min</span>
      </div>
    </div>
  </div>
</a>
